:root {
    --black: #000;
    --flush-orange: #ff7600;
    --harlequin: #36ff00;
    --tulip-tree: #e8a83f;
    --white: #fff;
}
@keyframes scale-button {
    0% {
      width: 280px;
      height: 60px;
    }
  
    50% {
      width: 310px;
      height: 65px;
    }
  
    100% {
      width: 280px;
      height: 60px;
    }
}
@keyframes button-waves {
    0% {
        opacity: 1; 
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2.0);
    }
}

@keyframes button-scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes button-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes top-down {
    from {
      transform: translateY(-40px);
      opacity: 0;
    }
  
    to {
      top: translateY(0px);
      opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-mono', sans-serif;
}

.main {
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
}

.t1 {
    align-items: center;
    text-align: center;
}
.t2 {
    display: none;
}

.t1__logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.t1__title {
    color: var(--white);
    padding-top: 30px;
    font-size: 0.9rem;
    line-height: 25px;
}

.t1__subtitle {
    color: var(--white);
    padding-bottom: 20px;
    font-size: 1.7rem;
    padding-top: 10px;
}
span {
    color: var(--tulip-tree);
}
.t1__video {
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}
.t1__link {
    width: 350px;
    height: 199px;
    border-radius: 10px;
    border: none;
}

.t1__button {
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--harlequin);
    padding: 0 10px;
    width: 280px;
    height: 60px;
    border-radius: 30px;
    border: none;
    animation: scale-button 1.5s infinite;
    animation-direction: alternate;
    box-shadow: 2px 2px 45px var(--harlequin);
    cursor: pointer;
}

.t1__button:hover {
    color: var(--white);
    background-color: var(--flush-orange);
    transition: width .5s, height .5s;
    box-shadow: 2px 2px 45px var(--flush-orange);
}
@media (min-width: 1001px){
    .main{
        padding: 35px;
        width: 100vw;
        height: 100vh;  
    }
    .t1 {
        background-image: url(./assets/background.jpg);
        height: 100%;
        width: 100%;
        border-radius: 10px;
        display: none;

        animation: top-down;
        animation-duration: 2s;
    }
    .t2 {
        display: block;
        background-image: url(./assets/background.jpg);
        height: 90%!important;
        width: 95%;
        border-radius: 10px;
        height: 750px;
    }
    .t2--hide {
        display: none;
    }
    .t1--hide {
        display: block;
    }
    .t2__elements {
        display: flex;
        animation: t2-appear 1s linear infinite alternate;
    }

    .t1__logo {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;

        animation: top-down;
        animation-duration: 1s;

    }
    .t2__logo{
        width: 230px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;

        animation: top-down;
        animation-duration: 1s;
    }
    .t2__text {
        margin-left: 100px;
        margin-top: 20px;
    }
    .t1__title {
        font-size: 1.0rem;
        line-height: 25px;

    }
    .t2__title {
        color: var(--white);
        padding-top: 30px;
        font-size: 1.0rem;
        line-height: 40px;

        animation: top-down;
        animation-duration: 2s;
    }

    .t1__subtitle {
        font-size: 2.5rem;
        padding-bottom: 30px;

    }
    .t2__subtitle {
        color: var(--white);
        font-size: 3.0rem;
        padding-top: 30px;

        animation: top-down;
        animation-duration: 2s;
    }
    .t1__video {
        width: 504px;
        height: 290px;
        margin-left: auto;
        margin-right: auto;

    }

    .t1__link {
        width: 504px;
        height: 290px;
    }
  
    .t2__animacao {
       width: 300px;
       padding-left: 70px;
    }
    
    .t2__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .t2__link::before {
        content: '';
        position: absolute;
        height: 200px;
        width: 200px;
        top: 310px;
        transform: scale(1);
        opacity: 0.5;
        border: 0.2px solid var(--tulip-tree);
        border-radius: 50%;
        animation: button-waves 3s linear infinite;
    }

    .t2__link::after {
        content: '';
        position: absolute;
        height: 200px;
        width: 200px;
        top: 310px;
        border: 0.2px solid var(--tulip-tree);
        border-radius: 50%;
        animation: button-waves 3s linear infinite;
        animation-delay: 0.5s;
    }
    
    .t2__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        animation: button-rotate 25s linear infinite;
    }
    .t2__play {
        position: absolute;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border-radius: 100%;
        box-shadow: 0px 0px 500px var(--tulip-tree);
        background-color: var(--tulip-tree);
        top: 360px;
        animation: button-scale 1s linear infinite alternate;
    }
    
}